@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    0% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}

.spin-animation {
    animation: spin 2s linear infinite;
}